html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu {
    background-color: #ac9eae;
    font-size: larger;
    font-style: italic;
    padding: 3%;
    height: 150px;
    width: 150px;
    list-style: none;
    margin: 3%;
    border-style: solid;
}

.tebogo {
    text-align: center;
}

header {
    background-color: #e7d9e5;
    border-style: solid;
    padding-bottom: 0%;
    margin-top: 3%;
    margin: 3%;
    padding: 3%;
    height: 100%;
}

body {
    background-color: #f5eef0;

}
#p2{
margin-bottom: 30%;
}
footer {
    background-color: #c9beca;
    border-style: solid;
    border-color: #000;
    margin: 3%;
    padding: 3%;
    text-align: center;
    width: 200px;
    height: 300px;
}


h2 {
    background-color: #00000019;
    text-align: center;

}

h3 {
    background-color:#00000019;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

img {
    border-radius: 50%;
    border: 5px solid #000;
    margin-top: 3%;
}

.Lorem {
    color: #141616
}

article {
    border-style: solid;
    border-color: #000;
    margin: 3%;
    padding: 3%;
    height: 87%;
}
.container {
    display: flex;
}
#skill1 {
    position: relative;
    left: 10px;
}
#skill2 {
    position: relative;
    left: 10px;
}
#job1 {
    position: relative;
    left: 100px;
}
#job2 {
    position: relative;
    left: 200px;
}