html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu {
    background-color: #ac9eae;
    font-size: larger;
    font-style: italic;
    padding: 3%;
    height: 150px;
    width: 150px;
    list-style: none;
    margin: 3%;
    border-style: solid;
}

.tebogo {
    text-align: center;
}

header {
    
    background: url(../CSS/image/backgroundImg.jpg);
    border-style: solid;
    padding-bottom: 0%;
    margin-top: 3%;
    margin: 3%;
    padding: 3%;
    height: 100%;
}

body {
    background-color: #f5eef0;

}
#p2{
margin-bottom: 30%;
}
footer {
    background-color: #c9beca;
    border-style: solid;
    border-color: #000;
    margin: 10px;
    padding: 3%;
    text-align: center;
    height: 400px;
}


h2 {
    background-color: #00000019;
    text-align: center;

}

h3 {
    background-color:#00000019;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

img {
    border-radius: 100%;
    border: 5px solid #000;
    margin-top: 3%;
}

.Lorem {
    color: #141616
}

article {
    border-style: solid;
    border-color: #000;
    margin: 3%;
    padding: 3%;
    height: 87%;
}
#skill1 {
    position: relative;
    left: 10px;
}
#skill2 {
    position: relative;
    left: 10px;
}
#job1 {
    position: relative;
    left: 100px;
}
#job2 {
    position: relative;
    left: 200px;
}

p{color:maroon;}

@media(min-width:300px) {
    body{
        background-color: rgba(118, 151, 167, 0.244);
        font-size: small;
    }
    img{
        width: 20%;
        height: auto;
    }
}


@media(min-width:600px) {
    body{
        background-color: rgba(160, 172, 172, 0.863);
        font-size: medium;
    }
    img{
        width: 20%;
        height: auto;
    }
}


@media(min-width:768px) {
    body{
        background-color: rgba(66, 78, 73, 0.964);
        font-size: large;
    }
    img{
        width: 20%;
        height: auto;
    }
}


@media(min-width:992px) {
    body{
        background-color: rgba(233, 203, 106, 0.455);
        font-size: larger;
    }
    img{
        width: 20%;
        height: auto;
    }
}